---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<style>
/* 新增逆序编号样式 */
.pub-item {
  counter-increment: pub-counter -1;
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 2.5em;
}
.pub-item::before {
  content: "[" counter(pub-counter) "]";
  position: absolute;
  left: 0;
  font-weight: bold;
}
</style>

<ol class="pub-list">
{% assign sorted_pubs = site.publications | sort: "date" %}
{% for pub in sorted_pubs reversed %}
  <li class="pub-item">
    {{ pub.content | markdownify | remove: "<p>" | remove: "</p>" }}
  </li>
{% endfor %}
</ol>

{% include base_path %}