---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my papers on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<style>
  /* 强制逆序编号 */
  ol {
    counter-reset: item {{ site.publications.first.content | split: '<li>' | size }};
    list-style: none;
    padding-left: 0;
  }
  ol li {
    counter-increment: item -1;
    position: relative;
    padding-left: 3em;
    margin-bottom: 1.5rem;
  }
  ol li:before {
    content: "[" counter(item) "]";
    position: absolute;
    left: 0;
    font-weight: normal;
    margin-right: -0.5em;  /* 控制编号与内容间距 */
  }
  </style>
  
  {{ site.publications.first.content | markdownify }}