---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<style>
.pub-item { margin-bottom: 1.5rem; }
.pub-item::before {
  content: "[" counter(pub-counter) "]";
  font-weight: bold;
  margin-right: 0.5rem;
}
</style>

<ol style="counter-reset: pub-counter {{ site.publications.first.papers.size | plus: 1 }};">
{% assign all_pubs = site.publications.first.papers | sort: "date" | reverse %}
{% for pub in all_pubs %}
  <li class="pub-item" style="counter-increment: pub-counter -1;">
    {{ pub.content }}
  </li>
{% endfor %}
</ol>
