---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


## Course Schedule
| Academic Year     | Fall Semester                     | Spring Semester                    |
|-------------------|-----------------------------------|-------------------------------------|
| 2025-2026         | Study Abroad Program              |                                     |
| 2024-2025         | Graduate: Numerical Analysis      | Study Abroad Program                |
| 2023-2024         | Graduate: Numerical Analysis      | Graduate: Finite Element Methods<br>Undergraduate: Computational Methods |
| 2022-2023         | Graduate: Numerical Analysis<br>Undergraduate: Linear Algebra | Graduate: Finite Element Methods<br>Undergraduate: Computational Methods, Freshman Seminar |
| 2021-2022         | Graduate: Numerical Analysis      | Graduate: Finite Element Methods<br>Undergraduate: Numerical Analysis, Scientific Computing Practice, Introduction to Major |
| 2020-2021         | Graduate: Teaching Assistant for Advanced Numerical Analysis | Graduate: Finite Element Methods<br>Undergraduate: Computational Methods |